@import url("./reset.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  color: white;
  text-align: center;
  padding: 1rem;
  min-height: 100vh;
  background: #f6f1f1;
  align-content: center;
  width: auto;
}

.grid-container,
.top-bar,
.bottom-bar {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
}


header {
  background-color: rgb(122, 12, 122);
}

footer {
  background-color: #cd7938;
}


nav {
  background-color: #4cc773;
  padding: 1rem;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  display: grid;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

nav ul li {
  background-color: rgb(219, 47, 115);
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #fff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.top-bar {
  background-color: #3268d3;
}

.bottom-bar {
  background-color: rgb(111, 176, 225);
}

@media (min-width: 768px){
  body{
    display: grid;
    grid-template-areas:
      "header header header"
      "topbar nav bottombar"
      "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    row-gap: 0;
  }
  
  header{
    grid-area: header;
  }

  .top-bar{
    grid-area: topbar;
  }

  nav{
    grid-area: nav;
  }

  .bottom-bar{
    grid-area: bottombar;
  }

  footer{
    grid-area: footer;
  }

  header, nav, aside, footer{
    margin: 0;
    padding: 0;
  }
}